.CodeMirror {
    height: unset;
}
.CodeMirror-vscrollbar {
    display: none;
}
.CodeMirror * {
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    .code-view-c {
        width: 95%;
    }
}

@media screen and (min-width: 600px) {
    .code-view-c {
        width: 80%;
    }
}

@media screen and (min-width: 900px) {
    .code-view-c {
        width: 75%;
    }
}

@media screen and (min-width: 1100px) {
    .code-view-c {
        width: 60%;
    }
}